# Ignore data folder contents but keep the folder structure
data/**
!data/
!data/.gitkeep

# Weights & Biases
wandb/
*.wandb
**/wandb/

# Python cache files
__pycache__/
*.py[cod]       # Matches .pyc, .pyo and .pyd files
**/__pycache__/ # Catch pycache in any subdirectory
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Python distribution / packaging
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
